.maplibregl-ctrl-layer {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    padding: 5px;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl-layer {
    right: 0;
}

.hidden {
    display: none;
}
