/**
 * Copyright COORDONNÉES 2025, 2026
 * SPDX-License-Identifier: MPL-2.0
 */

.maplibregl-ctrl-layer {
  position: absolute;
  top: 100%;
  padding: 5px;
  margin-top: 10px;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl-layer {
  right: 0;
}

.hidden {
  display: none;
}

.maplibregl-popup-content {
  padding: 0;
  background: transparent;
  border: none;
  box-shadow: none;
}

.maplibregl-popup-tip {
  display: none;
}
