.maplibregl-ctrl-layer {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    padding: 5px;
}

.maplibregl-ctrl-top-right .maplibregl-ctrl-layer {
    right: 0;
}

.hidden {
    display: none;
}

.maplibregl-popup-content {
    background: transparent;
    border: none;
    box-shadow: none;
    padding: 0;
}

.maplibregl-popup-tip {
    display: none;
}
